# Ignore everything
*

# But not these files...
!.gitignore
!main.py
!clustering.py
!db_querier.py
!image_feature_detection.py
!network_analysis.py
!geomap_filter.py
!map_v2.png
!motif_type_figure.png
!requirements.txt
